.entradas_main{
    margin-top: 10%;
    padding-bottom: 5%;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .construccion {
        font-size: 0.5rem;
        margin-top:-170px;
    } 
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .construccion {
        font-size: 0.6rem;
        margin-top:-130px;
    } 
    
}

/*Large devices (landscape phones, 576px and up)*/
@media (min-width: 992px) {
    .construccion {
        font-size: 0.7rem;
    } 
}

/*X-Large devices (landscape phones, 576px and up)*/
@media (min-width: 1200px) {
    .construccion {
        font-size: 0.8rem;
    }  
}

/*XX-Large devices (landscape phones, 576px and up)*/
@media (min-width: 1400px) { 
    .construccion {
        font-size: 2rem;
    } 
}